.jf-appbar {
  background-color: var(--neutral-0) !important;
  color: var(--neutral-900) !important;
  border-bottom: 1px solid var(--neutral-300);
  box-shadow: none !important;
}
.jf-toolbar {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  height: 4.875rem;
}
.jf-logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
}
.jf-logo {
  width: 120px;
}
.jf-nav {
  display: flex;
  align-items: center;
  gap: 8px;
}
.jf-nav-link {
  color: var(--neutral-700) !important;
  text-transform: none !important;
  font-weight: 500 !important;
  padding: 6px 12px !important;
}